{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Contacter l'organisateur" %} - {{ event.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>{% trans "Contacter l'organisateur de" %} {{ event.title }}</h1>
    <form method="POST" action="{% url 'events:event_contact' slug=event.slug %}">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Envoyer" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}